#head {
    background-color: sandybrown;
}
#second {
    background-color: antiquewhite;
}
#fourth
{
    background-color: antiquewhite;
}
table{
    height: 200px;
    width: 34%;
    background-color: white;

}
#tree {
  position: absolute;
  top: 8px;
  right: 0;
}
#video{
    position: absolute;
    width: 50%;
    margin-left: 25%;
    top: 0;
    border: 5px solid white;
    
    
    
}
body{
    background-image: url(./garden.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
