#head {
    background-color: sandybrown;
}
#second {
    background-color: antiquewhite;
}
#fourth
{
    background-color: antiquewhite;
}
table{
    height: 200px;
    width: 500px;
    background-color: white;

}
div {
  position: absolute;
  top: 8px;
  right: 0;
}
video{
    height: 750px;
    position: absolute;
    margin-left: 35%;
    top: 0;
    
}
body{
    background-image: url(./garden.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}